$textMain: black;
$textSecond: #2d4258;
$textThird: #6d7986;
$textDisabled: #98a1aa;
$textFourth: #b6bcc3;
$textFifth: #e1e1e7;

$backMain: white;
$backSecond: #f8f8f8;
$backThird: #d2d1d1;
$backDisabled: #f3faff;

$yellow: #f7b731;
$purple: #483d8b;
$green: #37833b;
$orange: #fd9644;
$red: #fc5c65;
$lightTurquoise: #a9e9e0;
$lightGreen: #26de81;
$turquoise: #54d3c2;
$darkTurquoise: #1cb4a4;
$darkGreen: #189e5a;

$turquoise100: rgba(84, 211, 194, 1);
$turquoise90: rgba(84, 211, 194, 0.9);
$turquoise75: rgba(84, 211, 194, 0.75);
$turquoise60: rgba(84, 211, 194, 0.6);
$turquoise40: rgba(84, 211, 194, 0.4);
$turquoise25: rgba(84, 211, 194, 0.25);

$error: #fc5c65;
$errorMedium: rgba(252, 92, 101, 0.6);
$errorLight: #fedee0;
$errorUltraLight: rgba(252, 92, 101, 0.1);
$warning: #54d3c2;
$warningLight: #fedee0;
$success: #54d3c2;
$successLight: #ddf6f3;

$primary: rgba(208, 84, 211, 1);
$primary7: rgba(208, 84, 211, 0.07);
$primary20: rgba(208, 84, 211, 0.2);
$re_cleaning: rgba(252, 92, 150, 1);
$re_cleaning7: rgba(252, 92, 150, 0.07);
$re_cleaning20: rgba(252, 92, 150, 0.2);
$empty: rgba(25, 45, 232, 1);
$empty7: rgba(25, 45, 232, 0.07);
$empty20: rgba(25, 45, 232, 0.2);
$quality: rgba(247, 183, 49, 1);
$quality7: rgba(247, 183, 49, 0.07);
$quality20: rgba(247, 183, 49, 0.2);
$inspection: rgba(253, 150, 68, 1);
$inspection7: rgba(253, 150, 68, 0.07);
$inspection20: rgba(253, 150, 68, 0.2);
$selling: rgba(166, 94, 234, 1);
$selling7: rgba(166, 94, 234, 0.07);
$selling20: rgba(166, 94, 234, 0.2);
$starting: rgba(69, 170, 242, 1);
$starting7: rgba(69, 170, 242, 0.07);
$starting20: rgba(69, 170, 242, 0.2);
$cleaning: rgba(38, 222, 129, 1);
$cleaning7: rgba(38, 222, 129, 0.07);
$cleaning20: rgba(38, 222, 129, 0.2);
$reports: rgba(56, 103, 214, 1);
$reports7: rgba(56, 103, 214, 0.07);
$reports20: rgba(56, 103, 214, 0.2);
